@model InformationViewModel
<div class="container">
    <form method="post" >
        <p>Have an account? <a href="">Log in</a>
        </p>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          

        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Email me with news and offers</label>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">FirstName</label>
            <input type="text" class="form-control" id="exampleInputPassword1" asp-for="FirstName">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">LastName</label>
            <input type="text" class="form-control" id="exampleInputPassword1" asp-for="LastName">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Address</label>
            <input type="text" class="form-control" id="exampleInputPassword1" asp-for="Address">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">City</label>
            <input type="text" class="form-control" id="exampleInputPassword1" asp-for="City">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">PostalCode</label>
            <input type="text" class="form-control" id="exampleInputPassword1" asp-for="postalCode">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone</label>
            <input type="text" class="form-control" id="exampleInputPassword1" asp-for="Phone">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Save this information For Next Time</label>
        </div>
        <button type="button" class="btn btn-primary">Return To cart</button>

        <button type="submit" class="btn btn-primary">Continue Shipping</button>
    </form>
</div>