@model Shipping
<div class="container">
   
        <table class="table">
            <tr>
                <th>Contact</th>
                <td>@Model.Contact</td>
                <td><button>Change</button></td>
            </tr>
            <tr>
                <th>Ship To</th>
                <td>@Model.ShipTo</td>
                <td><button>Change</button></td>
            </tr>
            <tr>
                <th>Ship Method</th>
                <td>@Model.ShipTo</td>
                <td><button>Change</button></td>
            </tr>

        </table>
        <h1>Shipping Method</h1>
        <p>@Model.ShippingMethod</p>
    <form method="post" action="Payment">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="Cash on Delivery(COD)">
                Cash on Delivery(COD)
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="Debit - Credit Card">
                Debit - Credit Card
            </label>
        </div>
        <button type="button" class="btn btn-primary">Return To Shipping</button>

        <button type="submit" class="btn btn-primary">Complete Order</button>
    </form>
</div>

