@model IEnumerable<WearMe.DataAccess.Entitities.Category>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
    if(Model!=null)
    {
        <ul>
        @foreach(var category in Model)
        {
                <li>@category.Name</li>
                if(category.CategoryTypes!=null)
                {
                    <ul>
                    @foreach(var type in category.CategoryTypes)
                    {
                     <li>@type.Name</li>
                     <ul>
                            @foreach (var subcategory in type.Subcategories)
                            {
                                <li>@subcategory.Name</li>
                            }
                            </ul>
                    }
                    </ul>
                }
                else
                {
                    <ul>
                        @foreach (var subcategory in category.Subcategories)
                        {
                            <li>@subcategory.Name</li>
                        }
                    </ul>
                }
            }
        </ul>
    }
}